body {
  margin: 0;
  padding: 0;
  background-image: url(../src/source-bg.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
}

#form {
  margin: 10rem 0 14rem 0;
  a {
    text-decoration: none;
  }
}
@media only screen and (max-width: 1200px) {
  #form {
    width: auto !important;
    .form-group {
      width: auto !important;
    }
  }
}
