*{
    margin: 0;
    padding: 0;
}


.background{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;

    //picture background
    .bg{
        position: absolute;
        z-index: -2;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: max(calc((89/50)*100vh), 100vw);
        filter: blur(5px);
    }

    //mask background
    .mask-bg{
        height: 100vh;
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
    }
}