@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
$primary-font : 'Montserrat', sans-serif;
$secondary-font : 'Open Sans', sans-serif;

* {
    padding : 0;
    margin : 0;
    user-select : none;
}

::-webkit-scrollbar {
    width : 10px;
    &-track {
        background : #f1f1f1;
    }
    &-thumb {
        background : #888;
        border-radius : 15px;
    }
    &-thumb:hover{
        background : #555;
    }
    &-track-piece {
        display : none;
    }
}

body {
    overflow-x : hidden;
}

h1 {
    font-family : $primary-font;
    color : white;
    font-size : 48px;
}

h2 {
    font-family : $primary-font;
    color : white;
    font-size : 24px;
}

h3 {
    font-family : $primary-font;
    color : #006C38;
    font-size : 24px;
}

h4 {
    font-family : $secondary-font;
    color : rgba(0, 108, 56, 0.8);
}

h5 {
    font-family : $primary-font;
    color : #006C38;
    font-size : 16px;
}

p {
    font-family : $secondary-font;
    font-size : 16px;
}

.container {
    margin : auto;
    width : 100%;
    position : relative;
}

.display-none {
    display : none !important;
}

.caketos-wrapper {
    display : flex;
    flex-direction : column;
    align-items : center;
    margin : auto;
    width : 768px;
    padding : 50px 0;

    .profil-caketos-wrapper {
        display : flex;
        flex-direction : row;
        justify-content : space-between;
        margin : auto;
        width : 690px;
        padding : 50px 0;

        .profil-caketos-wrapper-2 {
            display : flex;
            flex-direction : column;
            align-items : center;
        }

        button {
            padding : 10px 20px;
            margin : 10px;
            border-radius : 25px;

            font-weight : bold;
            font-family : $primary-font;
            color : #006C38;

            background-color : white;
            border-color : #006C38;

            &:focus{
                color : white;
                background-color : #1C6F4E;
                border-color : white;
            }
        }

        .profil-caketos {
            width : 200px;

            border-color : #9F9F9F;
            border-radius : 25px;
            border-style : solid;
            border-width : 2px;
            background-color : white;

            display : flex;
            flex-direction : column;
            justify-content : center;

            .nomor-urut {
                padding : 25px 0 5px 0;
                font-size : 24px;
            }

            h5 {
                margin : auto;
                padding : 0 0 0 0;
                text-align : center;
            }
            img {
                width : auto;
                height : 210px;
                margin : auto;
            }
            h6 {
                font-family : $primary-font;
                font-weight : bold;
                color : #006C38;
                text-decoration : none;
                margin : auto;
                padding : 40px 0 20px 0;
                font-size : 16px;
                cursor : pointer;
            }
        }
    }
    .tombol-submit {
        padding : 10px 20px;
            margin : 10px;
            border-radius : 25px;

            font-weight : bold;
            font-family : $primary-font;
            color : #006C38;

            background-color : white;
            border-color : #006C38;

            &:active{
                color : white;
                background-color : #1C6F4E;
                border-color : white;
            }
    }
}

.background-visi-misi {
    height : 100vh;
    width : 100%;
    background-color : rgba(50, 50, 50, .7);

    position : fixed;
    bottom : 0;
    right : 0;

    display : flex;
    align-content : center;

    z-index : 2;

    .visi-misi-wrapper {
        width : 600px;
        height : 600px;
        position : relative;

        margin : auto;

        background-color : #ffffff;

        border-radius : 25px;

        display : flex;
        flex-direction : column;

        .visi-misi-item{
            overflow-y : scroll;
            margin : 40px 10px 10px 10px;
        }

        .tombol-keluar {
            position : absolute;
            top : 20px;
            right : 20px;

            img {
                cursor : pointer;
            }
        }

        .visi-misi-content {
            padding : 40px;

            .nama {
                text-align : center;
            }
            .visi-misi {
                padding-top : 20px;
            }
            img {
                height : 250px;
                width : auto;
                display : block;
                margin : auto;
                padding-bottom : 40px;
            }
            p {
                padding-left : 20px;
                color : rgba($color: #000000, $alpha: .7)
            }
            ul {
                padding-left : 20px;
            }
            li {
                font-family : $secondary-font;
                padding : 2.5px;
                color : rgba($color: #000000, $alpha: .7)
            }
        }
    }
}

@media (min-width : 768px) {
    h3 {
        color : white;
    }

    .visi-misi, .nama {
        color :rgba(0, 108, 56, 0.8) !important;
    }

    .voting-wrapper {
        height : 100vh;
        width : 100%;

        display : flex;
        align-items : center;

        position : relative;

        .background {
            position : absolute;
            z-index : -2;

            height : auto;
            width : 768px;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .container {
        align-self : center;
    }
}

@media (max-width : 480px) {
    .background {
        display : none;
    }
    .caketos-wrapper {
        display : flex;
        flex-direction : column;
        align-items : center;
        margin : auto;
        width : 100%;
        padding : 50px 0;

        .profil-caketos-wrapper {
            display : flex;
            flex-direction : row;
            flex-wrap : wrap;
            justify-content : center;
            margin : auto;
            width : 100%;
            padding : 50px 0;
            

            .profil-caketos {
                width : 200px;
                margin : 20px;

                border-color : #9F9F9F;
                border-radius : 25px;
                border-style : solid;
                border-width : 2px;
                background-color : white;

                display : flex;
                flex-direction : column;
                justify-content : center;

                box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);

                h5 {
                    margin : auto;
                    padding : 0;
                    text-align : center;
                    font-size : 16px;
                }
            }
        }
    }

    .background-visi-misi {
        height : 100vh;
        width : 100%;
        background-color : rgba(50, 50, 50, .7);

        position : fixed;
        bottom : 0;
        right : 0;

        display : flex;
        align-content : center;

        z-index : 2;

        .visi-misi-wrapper {
            width : 350px;
            height : 500px;
            position : relative;

            margin : auto;

            background-color : #ffffff;

            border-radius : 25px;

            display : flex;
            flex-direction : column;

            .visi-misi-item{
                overflow-y : scroll;
                margin : 40px 10px 10px 10px;
            }
            .tombol-keluar {
                position : absolute;
                top : 20px;
                right : 20px;
                z-index : 2;

                img {
                    cursor : pointer;
                }
            }

            .visi-misi-content {
                padding : 40px;

                .nama {
                    text-align : center;
                }
                .visi-misi {
                    padding-top : 20px;
                }
                img {
                    height : 250px;
                    width : auto;
                    display : block;
                    margin : auto;
                    padding-bottom : 40px;
                }
                p {
                    padding-left : 10px;
                    color : rgba($color: #000000, $alpha: .7);
                    font-size : 12px;
                }
                ul {
                    padding-left : 10px;
                }
                li {
                    font-family : $secondary-font;
                    padding : 2.5px;
                    color : rgba($color: #000000, $alpha: .7);
                    font-size : 12px;
                }
            }
        }
    }
}